.home {
  padding       : 2em;
  display       : flex;
  flex-direction: column;
  margin: 5em 3em 5em 3em;
}

@media (min-width:600px){
  .home {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width:600px) {
  .home {
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.reset {
  background-color: #EFEFEF;
  --color: #c4c4c4;
  --hover: #AEAC83;
  /* --hover: #bc7f62; */
}

