.styled-table {
  border-collapse: collapse;
  margin         : 25px 0;
  font-size      : 0.9em;
  font-family    : sans-serif;
  min-width      : 400px;
  box-shadow     : 0 0 20px rgba(0, 0, 0, 0.15);
  width          : auto;
  margin-left    : auto;
  margin-right   : auto;
}

#table {
  overflow-x     : scroll;
}

.styled-table thead tr {
  background-color: #5B4434;
  color           : #5B4434;
  border-bottom   : 2px solid #5B4434;
  text-align      : left;
}

.styled-table th,
.styled-table td {
  border-spacing: 2px solid #5b5b5b;
  padding       : 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #5b5b5b;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #5B4434;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color      : #bc7f62;
}

.google-form {
  margin-top    : 2em;
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

#myBtn {
  display         : none;
  /* Hidden by default */
  position        : fixed;
  /* Fixed/sticky position */
  bottom          : 20px;
  /* Place the button at the bottom of the page */
  right           : 30px;
  /* Place the button 30px from the right */
  z-index         : 99;
  /* Make sure it does not overlap */
  border          : none;
  /* Remove borders */
  outline         : none;
  /* Remove outline */
  background-color: red;
  /* Set a background color */
  color           : white;
  /* Text color */
  cursor          : pointer;
  /* Add a mouse pointer on hover */
  padding         : 15px;
  /* Some padding */
  border-radius   : 10px;
  /* Rounded corners */
  font-size       : 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}